﻿@model Loans.WebMvc.Models.Application.LoanApplicationVM

@{
    ViewData["Title"] = "Create";
}

<h1>Your Loan Application</h1>
<hr />
<div class="container">

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <section>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>

                        @Html.DropDownListFor(model => model.Title,
                                (List<SelectListItem>)Model.Titles, "Select Title", htmlAttributes: new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Lastname" class="control-label"></label>
                        <input asp-for="Lastname" class="form-control" />
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="MobileNumber" class="control-label"></label>
                        <input asp-for="MobileNumber" class="form-control" />
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.IsHomeOwner)
                        <label class="switch">
                            <input type="checkbox" asp-for="IsHomeOwner">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        (£) <label asp-for="AnnualIncome" class="control-label"></label>
                        <input asp-for="AnnualIncome" class="form-control" />
                        <span asp-validation-for="AnnualIncome" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CarRegistrationNumber" class="control-label"></label>
                        <input asp-for="CarRegistrationNumber" class="form-control" />
                        <span asp-validation-for="CarRegistrationNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        (£) <label asp-for="LoanRequestAmount" class="control-label"></label>
                        <input asp-for="LoanRequestAmount" class="form-control" />
                        <span asp-validation-for="LoanRequestAmount" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </section>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
