﻿@model Loans.WebMvc.Models.Application.LoanSubmissionVM

@{
    ViewData["Title"] = "Submission";
}

<div class="container">
    <h4>Your application will now be evaluated</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ApplicationRefrence)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.ApplicationRefrence)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CreditAmount)
        </dt>
        <dd class="col-sm-6">
            £@Model.CreditAmount.ToString("N2")
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PayableAmount)
        </dt>
        <dd class="col-sm-6">
            £@Model.PayableAmount.ToString("N2")
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Repayments)
        </dt>
        <dd class="col-sm-6">
            @Model.Repayments
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.APR)
        </dt>
        <dd class="col-sm-6">
            £@Model.APR.ToString("N2")%
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Create New", "Create") |
</div>
