﻿@model LoansReview.WebMvc.Infrastructure.LoanApplicationVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Review Loan</h1>

<h4>@Model.LoanApplicationId</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(item => item.LoanApplicationId)
           
            <div class="form-group">
                <label class="control-label">Request Amount</label>
                <input asp-for="RequestAmount" class="form-control" disabled/>
                <span asp-validation-for="RequestAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Total Amount Payable</label>
                <input asp-for="TotalAmountPayable" class="form-control"  disabled/>
                <span asp-validation-for="TotalAmountPayable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Term</label>
                <input asp-for="TermLengthInMonths" class="form-control" disabled/>
                <span asp-validation-for="TermLengthInMonths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Monthly Payment</label>
                <input asp-for="MonthlyPayment" class="form-control" disabled/>
                <span asp-validation-for="MonthlyPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="APR" class="control-label"></label>
                <input asp-for="APR" class="form-control" disabled/>
                <span asp-validation-for="APR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Approval Status</label>

                @Html.DropDownListFor(model => model.ApprovalStatus,
                                (List<SelectListItem>)Model.ApprovalStatuses, htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.ApprovalStatus, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label">Created Date</label>
                <input asp-for="CreatedDate" class="form-control" disabled/>
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
