﻿@model LoansReview.API.Application.Models.PaginatedItemsViewModel
@using LoansReview.WebMvc.Infrastructure

@{
    ViewData["Title"] = "Index";
}

<h1>Loan Applications</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Ref
            </th>
            <th>
                Created Date
            </th>
            <th>
                Name
            </th>
            <th>
                Home Owner
            </th>
            <th>
                Income (k)
            </th>
            <th>
                Request Amount
            </th>
            <th>
                Total Amount Payable
            </th>
            <th>
                Term (months)
            </th>
            <th>
                Monthly Payment
            </th>
            <th>
                APR
            </th>
            <th>
                Approval Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data) {
        <tr>
            <td>
                @item.LoanApplicationId.ToString().Substring(0,8)
            </td>
            <td>
                @item.CreatedDate.ToString("dd MMM yy")
            </td>
            <td>
                @item.User.FullName
            </td>
            <td>
                @{
                    if(item.User.IsHomeOwner == true)
                    {
                        <input type="checkbox" class="form-control" checked disabled >
                    }
                    else 
                    {
                        <input type="checkbox" class="form-control" disabled>
                    }
                }
            </td>
            <td>
                @item.User.AnnualIncomeInThousands.ToString("N2")
            </td>
            <td>
                £@item.RequestAmount.ToString("N2")
            </td>
            <td>
                £@item.TotalAmountPayable.ToString("N2")
            </td>
            <td>
                @item.TermLengthInMonths
            </td>
            <td>
                £@item.MonthlyPayment.ToString("N2")
            </td>
            <td>
                @item.APR%
            </td>
            <td>
                @{
                    if(item.ApprovalStatus == LoanApprovalStatus.InProgress)
                    {
                    <span class="badge badge-primary">@item.ApprovalStatus.ToString()</span>
                    }
                    else if(item.ApprovalStatus == LoanApprovalStatus.Approved)
                    {
                    <span class="badge badge-success">@item.ApprovalStatus.ToString()</span>
                    }
                    else if(item.ApprovalStatus == LoanApprovalStatus.Declined)
                    {
                    <span class="badge badge-danger">@item.ApprovalStatus.ToString()</span>
                    }
                    else
                    {
                    <span class="badge badge-warning">None</span>
                    }
                }

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  loanApplicationId=item.LoanApplicationId  })
            </td>
        </tr>
        }
    </tbody>
</table>


<div class="container">
    <article class="row">
        <nav>
            <a class="btn btn-secondary"
               id="Previous"
               asp-controller="LoanReview"
               asp-action="Index"
               asp-route-PageIndex="@(Model.PageIndex -1)"
               aria-label="Previous">
                Previous
            </a>

            <span class="esh-pager-item">
                Showing page @(Model.PageIndex + 1)
            </span>

            <a class="btn btn-secondary"
               id="Next"
               asp-controller="LoanReview"
               asp-action="Index"
               asp-route-PageIndex="@(Model.PageIndex + 1)"
               aria-label="Next">
                Next
            </a>
        </nav>
    </article>
</div>
